<div class="container my-5">
    <h2 class="display-4 py-4 text-center heading-primary alert alert-success text-dark">Todo Club</h2>
      <div class="row p-3">
  
              <div class="col-md-4 my-3">
                <a href="/create-todo">
                <div class="card">
                  <img src="../../assets/images/create-todo.png" class="employee-task-icon p-5" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title text-dark heading-secondary">CREATE TODO</h5>
                  </div>
                </div>
              </a>
              </div>  
  
              <div class="col-md-4 my-3">
                  <a href="/view-todo">
                  <div class="card">
                    <img src="../../assets/images/todo-list.png" class="employee-task-icon p-5" alt="...">
                    <div class="card-body text-center">
                      <h5 class="card-title text-dark heading-secondary">APPROVED TODOS</h5>
                    </div>
                  </div>
                </a>
          </div>  
  
          <div class="col-md-4 my-3">
            <a href="/rejected-todos">
            <div class="card">
              <img src="../../assets/images/todo-rejected.png" class="employee-task-icon p-5" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title text-dark heading-secondary">REJECTED TODOS</h5>
              </div>
            </div>
          </a>
    </div>  
    
      </div>
  </div>