a{
    text-decoration: none;
}
.img-fluid{
    height: 80vh;
    object-fit: cover;
}
.card{
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
}
.card:hover{
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}
.aligned-carousel-caption{
    margin-bottom: 200px !important;
    background-color: rgba(0,0,0,0.3);
}
.employee-task-icon{
    height: 280px;
    object-fit: contain;
}