<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption aligned-carousel-caption d-none d-md-block">
          <h2 class="display-2 heading-primary">Welcome to EManager</h2>
          <p class="lead">The only way of discovering the limits of the possible is to venture a little way past them into the impossible.</p>
        </div>
        <img src="../../assets/images/carousel-img-three.jpg" class="d-block w-100 img-fluid" alt="carousel-image">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption aligned-carousel-caption d-none d-md-block">
          <h2 class="display-2 heading-primary">Welcome to EManager</h2>
          <p class="lead">The only way of discovering the limits of the possible is to venture a little way past them into the impossible.</p>
        </div>
        <img src="../../assets/images/carousel-img-two.jpg" class="d-block w-100 img-fluid" alt="carousel-image">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption aligned-carousel-caption d-none d-md-block">
          <h2 class="display-2 heading-primary">Welcome to EManager</h2>
          <p class="lead">The only way of discovering the limits of the possible is to venture a little way past them into the impossible.</p>
        </div>
        <img src="../../assets/images/carousel-img-one.jpg" class="d-block w-100 img-fluid" alt="carousel-image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Card Section --
  <div class="container-fluid employee-tasks p-5">
    <h2 class="text-center display-3 mb-4">Services</h2>
    <div class="row">
          <div class="col-md-4 my-4">
            <a href="/allemployees">
            <div class="card">
              <img src="../../assets/images/employee-profile.png" class="employee-task-icon p-5" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title text-dark">Employee Profile</h5>
              </div>
            </div>
          </a>
            </div>
            <div class="col-md-4 my-4">
              <a href="/todo-club">
              <div class="card">
                <img src="../../assets/images/todo-club.png" class="employee-task-icon p-5" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title text-dark">Todo Club</h5>
                </div>
              </div>
            </a>
              </div>      
    </div>
  </div>
-->